{% extends "base.html" %}
{% block content %}

<div class="filter">
    <h1>Все авторы:</h1>
    <h2>Фильтрация по:</h2>

    <form action="/filter/" method="get">
        <select name="select">
            <option value="def" {{sess}}>Выберите фильтр</option>
            <option value="hindex" {{sess1}}>По hIndex</option>
            <option value="i10index" {{sess2}}>По i10Index</option>
        </select>
        <button type="submit" style="font-size: 23px">Фильтрация</button>
    </form>

</div>
<div class="cards">
    {% for d in datas %}
    <div class="card">
        <img src="{{d[5]}}" alt="" width="180px" style="border-radius: 15px;">
        <div>
            <h2>Имя: {{d[2]}}</h2>
            <h3>hIndex: {{d[3]}}</h3>
            <h3>i10index: {{d[4]}}</h3>
            <h6>Источник: {{d[6]}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h2>{{filterErr}}</h2>

{% endblock %}